@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&family=Markazi+Text:wght@500&family=Oswald:wght@200;300;400;500;600;700&family=Rokkitt:wght@100&display=swap");
*{
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
}
/* Loader Page */
.loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-icon{
    font-size: 70px;
    color: #16A596;
    animation: loader 1s ease-in-out infinite;
}

@keyframes loader{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* Start: Header */
header{
    background-color: #fff;
    padding: 0 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
/* Start: Logo And Search */
header .logo{
    width: 225px;
    flex: 19% 0 0;
    margin-right: 30px;
}
header .logo a{
    display: block;
    padding: 14px 0;
}
header .logo img{
    aspect-ratio: auto;
    width: 100%;
    height: auto;
}
/* header .search-bar{
    flex: 25% 0 0;
    padding: 16px 0;
}
header .search-bar .form-control{
    border-radius: 30px;
    background-color: #f5f5f5;
    border: none;
    padding-left: 45px;
    height: 42px;
}
header .search-bar .form-control:focus{
    color: #333;
}
header .search-bar form{
    position: relative;
}
header .search-bar form i.fas{
    position: absolute;
    font-size: 20px;
    top: 10px;
    left: 14px;
    opacity: .5;
} */
header .nav-menu-responsive{
    display: none;
}
header .btn-toggle-menu, header .btn-toggle-search{
    display: none;
}
header .nav-menu{
    display: flex;
    align-content: center;
}
header .nav-menu .main-menu{
    float: right;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
header .nav-menu .menu-item{
    float: left;
}
header .nav-menu .menu-item a{
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding: 29px 20px;
    display: block;
}
header .nav-menu .menu-item a:hover, header .nav-menu .menu-item a:focus {
    text-decoration: none;
    color: #008579;
}
header .login-btn {
    height: 32px;
    width: 120px;
    background: #008579;
    padding: 4px 16px;
    border-radius: 30px;
    border: none; 
    /* border-radius: 30px;
    height: 42px;
    padding: 0 25px;
    line-height: 42px; */
}
header .login-btn a{
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
a, button, .btn {
    font-family: 'Manrope', sans-serif !important;
    font-weight: 500; 
}
.btn {
    border-radius: 30px;
    height: 42px;
    padding: 0 25px;
    line-height: 42px; 
}
.btn-default {
    background-color: #008579;
    color: white;
    font-weight: bold; 
}
h1 {
    font-family: "Manrope", sans-serif;
    font-weight: 700; 
}
h2 {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
}
h3 {
    font-family: "Manrope", sans-serif;
    font-weight: 700; 
}
h4 {
    font-family: "Manrope", sans-serif;
    font-weight: 700; 
}
h5 {
    font-family: "Manrope", sans-serif;
    font-weight: 700; 
}
.green-color {
    color: #008579; 
}
.pink-color {
    color: #e12d36; 
}
.top-tour .title, .top-tour .des, .title, .des, .top-rest .title, .top-rest .des, .new-blog .title, .new-blog .des, .targets .title, .targets .des {
    text-align: center; 
}
.top-tour .title, .title, .top-rest .title, .new-blog .title, .targets .title {
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 10px; 
}
.top-tour .des, .des, .top-rest .des, .new-blog .des, .targets .des {
    font-size: 18px;
    color: #888;
    font-family: 'Manrope', sans-serif; 
}
.top-tour .title, .top-tour .des, .title, .des, .top-rest .title, .top-rest .des, .new-blog .title, .new-blog .des, .targets .title, .targets .des {
    text-align: center; 
}
  
.top-tour {
    padding: 70px 0; 
}
.top-tour .tour-list {
      margin-top: 50px; 
}
.targets {
    background-color: #f5f5f5;
    padding: 50px 0; 
}
.targets .target {
    margin-top: 40px; 
}
.targets .target i {
    float: left;
    font-size: 32px;
    color: #fe4850;
    margin-right: 20px; 
}
.targets .target .content {
    overflow: hidden;
    padding-top: 5px; 
}
.targets .target .target-name {
    font-size: 20px;
    margin-bottom: 15px; 
}
.targets .target p {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    color: #666;
    line-height: 1.7; 
}
.about {
    text-align: center;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/nha-trang-nature-elite.appspot.com/o/Images%20For%20Logo%20-%20Sliders%20-%20Other%2FTrang%20ch%E1%BB%A7%2Fimg-1.jpg?alt=media&token=f1ef0d1c-59bc-450e-a59d-fae98466aced&_gl=1*fcy54s*_ga*MTEyNjY4OTYyMi4xNjgzNzM0MDMx*_ga_CW55HF8NVT*MTY4NTgwNzc3NC40LjEuMTY4NTgwODU0NC4wLjAuMA..);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 140px 0;
    position: relative; 
}
.about:after, .about:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/nha-trang-nature-elite.appspot.com/o/Images%20For%20Logo%20-%20Sliders%20-%20Other%2FTrang%20ch%E1%BB%A7%2Fbg-gray.png?alt=media&token=6c83bcce-0ce5-423e-a582-240524722ea6&_gl=1*j1w9sk*_ga*MTEyNjY4OTYyMi4xNjgzNzM0MDMx*_ga_CW55HF8NVT*MTY4NTgwNzc3NC40LjEuMTY4NTgwODU2Mi4wLjAuMA..);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center; }
.about:after {
    top: auto;
    bottom: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg); 
}
.about .title {
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-bottom: 50px; 
}
.about .title, .about p {
    color: white; 
}
.about p {
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 50px; 
}
.about .btn {
    margin-right: 10px; 
}

.slides {
    position: relative; 
}
.slides .owl-carousel .owl-stage-outer {
    width: 100%; 
}
.slides .owl-carousel button.owl-next, .slides .owl-carousel button.owl-prev {
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); 
}
.slides .owl-carousel button.owl-next i, .slides .owl-carousel button.owl-prev i {
    color: white;
    font-size: 26px; 
}
.slides .owl-carousel button.owl-next:hover, .slides .owl-carousel button.owl-prev:hover {
    background: rgba(0, 0, 0, 0.85); 
}
.slides .owl-carousel .owl-next {
    right: 30px; 
}
.slides .owl-carousel .owl-prev {
    left: 30px; 
}
.slides .slide-text {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 70%;
    text-align: center;
    z-index: 10;
    -webkit-transform: translate(-50%, -45%);
    -moz-transform: translate(-50%, -45%);
    transform: translate(-50%, -45%); 
}
.slides .slide-text * {
    color: white; 
}
.slides .slide-text .mouse-icon {
    display: inline-block;
    margin-bottom: 30px;
    /* background-image: url(../../assets/image/mouse-icon.png); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 36px;
    height: 36px;
    -webkit-animation: updown 1.6s infinite ease-in-out;
    animation: updown 1.6s infinite ease-in-out; 
}
.slides .slide-text .slide-h1, .slides .slide-text .slide-p {
    text-transform: uppercase;
    letter-spacing: 1.5px; 
}
.slides .slide-text .slide-h1 {
    font-size: 60px;
    font-weight: 700; 
}
.slides .slide-text .slide-p {
    font-size: 22px;
    font-weight: 500; 
}

.owl-carousel .owl-nav {
    margin-top: 0; 
}
.owl-carousel button.owl-prev, .owl-carousel button.owl-next {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); 
}
.owl-carousel button.owl-prev i, .owl-carousel button.owl-next i {
    font-size: 42px;
    color: #333;
    opacity: .7; 
}
.owl-carousel button.owl-prev:hover, .owl-carousel button.owl-next:hover {
    background: transparent !important;
    color: #333; 
}
.owl-carousel button.owl-prev:hover i, .owl-carousel button.owl-next:hover i {
    opacity: 1; 
}
.owl-carousel button.owl-prev {
    left: -45px; 
}
.owl-carousel button.owl-next {
    right: -45px; 
}
  
.tour-item {
    border-radius: 10px;
    background-color: #fff; 
}
.tour-item .lazy-container {
    padding-bottom: 67.5%; 
}
.tour-item .thumb {
    position: relative;
    margin: 0; 
}
.tour-item .thumb img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    /* object-fit: contain; */
    object-position: center;
}
.tour-item .thumb a {
    /* display: block; */
    position: relative;
    overflow: hidden; 
}
.tour-item .thumb a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: -webkit-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.35));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.35)); 
}
.tour-item .thumb a:hover:before {
    background-image: -webkit-linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.55));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.55)); 
}
.tour-item .sale {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #fe4850;
    display: block;
    position: absolute;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    line-height: 55px;
    bottom: -20px;
    right: 20px;
    font-family: "Manrope", sans-serif;
    font-weight: 500; 
}
.tour-item .content {
    /* border: 1px solid #ececec; */
    border-top: none;
    padding: 25px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100vh;
    max-height: 240px; 
}
.tour-item .content .tour-name, .tour-item .content .place, .tour-item .content .price, .tour-item .content .other {
    padding: 0 20px; 
}
.tour-item .content span {
    font-size: 14px; 
}
.tour-item .content p, .tour-item .content span {
    color: #444;
    font-family: "Manrope", sans-serif; 
}
.tour-item .content .tour-name {
    font-size: 18px;
    font-weight: 700;
    color: #444;
    text-transform: capitalize;
    display: block;
    margin-bottom: 6px;
    line-height: normal; 
}
.tour-item .content .tour-name:hover, .tour-item .content .tour-name:focus {
    color: #1ec6b6;
    text-decoration: none; 
}
.tour-item .content .place {
    margin-bottom: 15px; 
}
.tour-item .content .place .fas {
    color: #1ec6b6;
    margin-right: 10px;
    float: left;
    display: block;
    margin-top: 3px; 
}
.tour-item .content .place .text {
    overflow: hidden;
    display: block; 
}
.tour-item .content .price {
    padding-top: 15px;
    border-top: 1px solid #ececec; 
}
.tour-item .content .price .old-price {
    color: #888;
    font-size: 13px;
    margin-bottom: 0; 
}
.tour-item .content .price .new-price {
    font-size: 20px;
    font-weight: 700;
    color: #007b6b;
    margin-top: -7px;
    margin-bottom: 5px; 
}
.tour-item .content .other:after {
    content: '';
    clear: both;
    display: table; 
}
.tour-item .content .other .timer, .tour-item .content .other .rating {
    width: 50%;
    display: block;
    color: #888;
    margin-bottom: 0;
    float: left; 
}
.tour-item .content .other .timer {
        font-size: 12px;
        margin-top: 4px; 
}
/* .tour-item .content .other .rating {
        font-size: 15px;
        font-weight: 700;
        text-align: right;
        color: #555;
}
.tour-item .content .other .rating i {
          color: #fb720d;
          font-size: 14px;
          position: relative;
          top: -1px; 
}
.tour-item .content .other .rating .counter {
          font-size: 11px;
          color: #666;
          font-weight: 400; }  */

/* Start footer */
footer {
    background-image: url(../../assets/image/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0 50px;
    width: 100%;
    height: 100%; 
}
footer * {
    color: rgba(255, 255, 255, 0.97); 
}
footer .logo-footer {
    width: 175px;
    margin-bottom: 30px; 
}
footer .logo-footer a {
    display: block; 
}
footer .logo-footer img {
    width: 100%;
    height: auto; 
}
footer .social {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    display: inline-block;
    margin-right: 6px; 
}
footer .social i {
    font-size: 15px;
    line-height: 34px; 
}
footer .copyright {
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold; 
}
footer .title-col {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 35px;
    letter-spacing: 1px; 
}
footer .quick-links {
    list-style: none;
    margin: 10px -1px; 
    padding: 0; 
}
footer .quick-links li {
    margin-bottom: 12px; 
}
footer .quick-links li:last-child {
    margin-bottom: 0; 
}
footer .quick-links a {
    display: inline-block;
    font-size: 16px;
    font-weight: 400; 
}
footer .quick-links a:hover, footer .quick-links a:focus {
    color: white; 
}
footer .contact-info {
    list-style: none;
    padding: 0;
    margin: 10px -20px; 
}
footer .contact-info li {
    margin-bottom: 12px;
    font-weight: 400; 
}
footer .contact-info li:last-child {
    margin-bottom: 0; 
}
footer .contact-info li i {
    margin-right: 10px;
    text-align: center;
    width: 20px;
    color: #008579; 
}
footer .page-links {
    text-align: center;
    padding-top: 70px; 
}
footer .page-links ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}
footer .page-links ul li {
    display: inline-block; 
}
footer .page-links ul li:before {
    content: '\f111';
    font-family: "Font Awesome 5 Free";
    font-size: 6px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: -2px;
    opacity: .5;
    margin-left: 10px; 
}
footer .page-links ul li:first-child:before {
    display: none; 
}
footer .page-links ul li a {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase; 
}
footer .page-links ul li a:hover, footer .page-links ul li a:focus {
    opacity: 1;
    color: white; 
}
/* End footer */
  